<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <meta charset="UTF-8">
  <title>BG Tourist Guide</title>
</head>

<body>
  <h1>Administration</h1>
  <home-component></home-component>
  <!--<script src="node_modules/es6-shim/es6-shim.js"></script>-->
  <script src="node_modules/systemjs/dist/system.src.js"></script>
  <!--<script src="node_modules/rxjs/bundles/Rx.js"></script>-->
  <script src="node_modules/reflect-metadata/Reflect.js"></script>
  <script src="node_modules/zone.js/dist/zone.js"></script>

  <script src="app/systemjs-config.js"></script>
</body>

</html>